@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Gochi+Hand|Leckerli+One|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');
/* Acá van tus reglas de estilo */
*{margin: 0; padding: 0} /*quitar margenes que dan por defecto el navegador*/
/*Haciendo cuadricula sensible*/
* {
  box-sizing: border-box;
}

header{
  width: 100%; /*anchura de elementos de bloque*/
  overflow: hidden; /* permite tener float*/
      margin-bottom: 20px;
}
/*screen de 600px*/
@media screen and (max-width:600px ){
 .logo {
  color: white;
  font-size: 40px;
  line-height: 130px; /*estar a altura de 200px*/
  float:center;
  text-align:center;
  font-family: 'Pacifico';
}
 .logo1 {
  color: #269982;
  font-size: 40px;
  line-height: 130px; /*estar a altura de 200px*/
  float:center;
  text-align:center;
  font-family: 'Pacifico';
}
.background1 {
  border-radius: 70px 70px 70px 70px;
  -moz-border-radius: 70px 70px 70px 70px;
  -webkit-border-radius: 70px 70px 70px 70px ;
  background: linear-gradient(to left,#e35d5b, rgb(250, 157, 51));
  -webkit-box-shadow: 0px 0px 20px 20px #f58359;
  -moz-box-shadow: 0px 0px 20px 20px #f58359;
  box-shadow: 0px 0px 10px 10px #f58359; 
box-sizing: border-box;
  width:240px;
  padding:20px;
  margin:auto;
  margin-top:20px;
}
.background2 {
  border-radius: 70px 70px 70px 70px;
  -moz-border-radius: 70px 70px 70px 70px;
  -webkit-border-radius: 70px 70px 70px 70px ;
  background: linear-gradient(to left,#82F3BE, rgb(250, 157, 51));
  box-sizing: border-box;
  width:240px;
  padding:20px;
  margin:auto;
  margin-top: 20px;
}
.background3 {
  border-radius: 70px 70px 70px 70px;
  -moz-border-radius: 70px 70px 70px 70px;
  -webkit-border-radius: 70px 70px 70px 70px ;
  background: linear-gradient(to left,#f36f6d, #E9899C);
  box-sizing: border-box;
  width:240px;
  padding:35px;
  margin:auto;
  margin-top: 20px;
}

.background4 {
  border-radius: 72px 72px 72px 72px;
  -moz-border-radius: 72px 72px 72px 72px;
  -webkit-border-radius: 72px 72px 72px 72px ;
  background: linear-gradient(to left,#f36f6d, #A989E9);
  box-sizing: border-box;
  width:240px;
  padding:35px;
  margin:auto;
  margin-top: 20px;
}

.wrapper1{         /*para centrar el contenido*/
  width: 100%;
  max-width: 350px;
  margin:auto;
  overflow:hidden;
  line-height: 40px;
  padding:30px 10px ;
}
.wrapper3{         /*para centrar el contenido*/
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin:auto;
  text-align: center;
  overflow:hidden;
  line-height: 20px;
  float: center;
}
.wrapper4{         /*para centrar el contenido*/
  width: 30%;
  max-width: 350px;
  margin:auto;
  overflow:hidden;
  line-height: 40px;
  padding:8px;
}
.wrapper5{         /*para centrar el contenido*/
  width: 50%;
  max-width: 350px;
  text-align: center;
  margin:auto;
  overflow:hidden;
  line-height: 20px;
  float: right;
}
.wrapper6{         /*para centrar el contenido*/
  width: 50%;
  max-width: 350px;
  text-align: center;
  margin:auto;
  overflow:hidden;
  line-height: 20px;
  float: left;
}
.escoger {
  color: #FFDAB9;
  text-align: center;
  font-family: 'Itim', cursive;
  font-size: 20px; 
}
.caja {
  background: #FFDAB9;
  border: 1px solid #FFDAB9;
  border-radius: 5px 5px 5px 5px;
  text-decoration-color: #FF7F50;
  font-size: 8px;
  line-height: center;
  padding: 11px;
  width: 120px;
}
.box {
  background: #FFDAB9;
  border: 1px solid #FFDAB9;
  border-radius: 5px 5px 5px 5px;
  text-decoration-color: #FF7F50;
  font-size: 12px;
  line-height: center;
  padding: 11px;
  width: 120px;
}
textarea::-webkit-input-placeholder {
  color:    #FF7F50;
  font-family: 'Pacifico';
  text-align: center;
  float:center;
  font-size: 12px;
}
.title1{
  color: #FFDAB9;
  font-family: 'Itim', cursive;
  font-size: 28px; 
  text-align: center;
}
.title2 {
  color: #F36C1F;
  font-family: 'Itim', cursive;
  font-size: 30px; 
  text-align: center;
}
.title3{
  color:  #FFDAB9;
  font-family: 'Itim', cursive;
  font-size: 27px; 
  text-align: center;
}
.title4{
  color:  #FFDAB9;
  font-family: 'Itim', cursive;
  font-size: 20px; 
  text-align: center;
}
.title5 {
  color: #FFDAB9;
  font-family: 'Itim', cursive;
  font-size: 30px; 
  text-align: center;
}
.title6 {
  color: black;
  font-family: 'Itim', cursive;
  font-size: 30px; 
  text-align: center;
}
.wrapper2{         /*para centrar el contenido*/
  padding: 5px;
  text-align: center;
  margin:auto;
  overflow:hidden;
  float: center;
  box-sizing: border-box;
  margin-top: 10px;
  width: 150px;
}
footer {
  color: black;
  font-family: 'Pacifico';
  font-size: 15px; 
  text-align: center;
  width: 1000px;
}
.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 10px 20px;
  border: 0px solid #20B2AA;
  border-radius: 20px;
  background: #4ac6ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#4ac6ff), to(#269982));
  background: -moz-linear-gradient(top, #4ac6ff, #269982);
  background: linear-gradient(to bottom, #4ac6ff, #269982);
  text-shadow: #591717 2px 1px 2px;
  font: normal normal bold 13px comic sans ms;
  color: #ffffff;
  text-decoration: none;
}
.button:hover,
.button:focus {
  background: #59eeff;
  background: -webkit-gradient(linear, left top, left bottom, from(#59eeff), to(#2eb89c));
  background: -moz-linear-gradient(top, #59eeff, #2eb89c);
  background: linear-gradient(to bottom, #59eeff, #2eb89c);
  color: #ffffff;
  text-decoration: none;
}
.button:active {
  background: #2c7799;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c7799), to(#269982));
  background: -moz-linear-gradient(top, #2c7799, #269982);
  background: linear-gradient(to bottom, #2c7799, #269982);
}
.body1{
  background-image:url("fondosmall1.png");
  background-repeat:no-repeat;
  background-attachment: fixed ;
  background-size:cover;
  }
  .body2{
    background-image:url("fondosmall1.png");
    background-repeat:no-repeat;
    background-attachment: fixed ;
    background-size:cover;
    }
}

/*screen de minimo 600px*/
@media screen and (min-width:600px  ){
.logo {
 color: white;
  font-size: 90px;
  line-height: 260px; /*estar a altura de 200px*/
  float:center;
  text-align:center;
  font-family: 'Pacifico';
}
.logo1 {
  color: #269982;
  font-size: 90px;
  line-height: 260px; /*estar a altura de 200px*/
  float:center;
  text-align:center;
  font-family: 'Pacifico';
}
.background1 {
  border-radius: 70px 70px 70px 70px;
 -moz-border-radius: 70px 70px 70px 70px;
  -webkit-border-radius: 70px 70px 70px 70px ;
  background: linear-gradient(to left,#e35d5b, rgb(250, 157, 51));
  -webkit-box-shadow: 0px 0px 20px 20px #f58359;
  -moz-box-shadow: 0px 0px 20px 20px #f58359;
  box-shadow: 0px 0px 10px 10px #f58359; 
  box-sizing: border-box;
  width:450px;
  padding:70px;
  margin:auto;
 margin-top:20px;
  }

.background2 {
 border-radius: 70px 70px 70px 70px;
 -moz-border-radius: 70px 70px 70px 70px;
  -webkit-border-radius: 70px 70px 70px 70px ;
 background: linear-gradient(to left,#82F3BE, rgb(250, 157, 51));
  box-sizing: border-box;
 width:450px;
 padding:70px;
  margin:auto;
  margin-top:20px;
 }

.background3 {
  border-radius: 70px 70px 70px 70px;
 -moz-border-radius: 70px 70px 70px 70px;
  -webkit-border-radius: 70px 70px 70px 70px ;
 background: linear-gradient(to left,#f36f6d, #E9899C);
 box-sizing: border-box;
 width:450px;
 padding:70px;
 margin:auto;
 margin-top:20px;
}
        
     .background4 {
          border-radius: 72px 72px 72px 72px;
          -moz-border-radius: 72px 72px 72px 72px;
          -webkit-border-radius: 72px 72px 72px 72px ;
          background: linear-gradient(to left,#f36f6d, #A989E9);
          box-sizing: border-box;
          width:450px;
          padding:70px;
          margin:auto;
          margin-top:20px;
        }
  .wrapper1{         /*para centrar el contenido*/
   width: 100%;
   max-width: 350px;
  margin:auto;
  overflow:hidden;
  line-height: 40px;
  padding:30px 10px ;
  }
  .wrapper3{         /*para centrar el contenido*/
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin:auto;
  text-align: center;
  overflow:hidden;
  line-height: 20px;
  float: center;
  }
        .wrapper4{         /*para centrar el contenido*/
          width: 30%;
          max-width: 350px;
          margin:auto;
          overflow:hidden;
          line-height: 40px;
          padding:8px;
        }
        .wrapper5{         /*para centrar el contenido*/
          width: 50%;
          max-width: 350px;
          text-align: center;
          margin:auto;
          overflow:hidden;
          line-height: 20px;
          float: right;
        }
        .wrapper6{         /*para centrar el contenido*/
          width: 50%;
          max-width: 350px;
          text-align: center;
          margin:auto;
          overflow:hidden;
          line-height: 20px;
          float: left;
        }
        
        .escoger {
          color: #FFDAB9;
          text-align: center;
          font-family: 'Itim', cursive;
          font-size: 30px; 
        }
        textarea::-webkit-input-placeholder {
          color:    #FF7F50;
          font-family: 'Pacifico';
          text-align: center;
          float:center;
          font-size: 25px;
        }
        .caja {
          background: #FFDAB9;
          border: 1px solid #FFDAB9;
          border-radius: 5px 5px 5px 5px;
          text-decoration-color: #FF7F50;
          font-size: 12px;
          line-height: center;
          padding: 11px;
          width: 160px;
        }
        .box {
          background: #FFDAB9;
          border: 1px solid #FFDAB9;
          border-radius: 5px 5px 5px 5px;
          text-decoration-color: #FF7F50;
          font-size: 12px;
          line-height: center;
          padding: 11px;
          width: 200px;
        }
        .title1{
          color: #FFDAB9;
          font-family: 'Itim', cursive;
          font-size: 50px; 
          text-align: center;
        }
        .title2 {
          color: #F36C1F;
          font-family: 'Itim', cursive;
          font-size: 40px; 
          text-align: center;
        }
        .title3{
          color:  #FFDAB9;
          font-family: 'Itim', cursive;
          font-size: 50px; 
          text-align: center;
        }
        .title4{
          color:  #FFDAB9;
          font-family: 'Itim', cursive;
          font-size: 40px; 
          text-align: center;
        }
        .title5 {
          color: #FFDAB9;
          font-family: 'Itim', cursive;
          font-size: 40px; 
          text-align: center;
        }
        .title6 {
          color: black;
          font-family: 'Itim', cursive;
          font-size: 40px; 
          text-align: center;
        }
.wrapper2{         /*para centrar el contenido*/
  padding: 5px;
  text-align: center;
  margin:auto;
  overflow:hidden;
  float: center;
  box-sizing: border-box;
  margin-top: 10px;
  width: 250px;
        }
        footer {
          color: black;
          font-family: 'Pacifico';
          font-size: 30px; 
          text-align: center;
          width: 1000px;
        }
        .button {
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          padding: 10px 20px;
          border: 0px solid #20B2AA;
          border-radius: 20px;
          background: #4ac6ff;
          background: -webkit-gradient(linear, left top, left bottom, from(#4ac6ff), to(#269982));
          background: -moz-linear-gradient(top, #4ac6ff, #269982);
          background: linear-gradient(to bottom, #4ac6ff, #269982);
          text-shadow: #591717 2px 1px 2px;
          font: normal normal bold 20px comic sans ms;
          color: #ffffff;
          text-decoration: none;
        }
        .button:hover,
        .button:focus {
          background: #59eeff;
          background: -webkit-gradient(linear, left top, left bottom, from(#59eeff), to(#2eb89c));
          background: -moz-linear-gradient(top, #59eeff, #2eb89c);
          background: linear-gradient(to bottom, #59eeff, #2eb89c);
          color: #ffffff;
          text-decoration: none;
        }
        .button:active {
          background: #2c7799;
          background: -webkit-gradient(linear, left top, left bottom, from(#2c7799), to(#269982));
          background: -moz-linear-gradient(top, #2c7799, #269982);
          background: linear-gradient(to bottom, #2c7799, #269982);
        }
        .body1{
          background-image:url("fondosmall2.png");
          background-repeat:no-repeat;
          background-attachment: fixed ;
          background-size:cover;
          }
        .body2{
              background-image:url("fondosmall2.png");
              background-repeat:no-repeat;
              background-attachment: fixed ;
              background-size:cover;
              }
            
input::-webkit-input-placeholder {
  color:    #FF7F50;
  font-family: 'Pacifico';
  text-align: center;
  font-size: 25px;
}
      }

      @media screen and (min-width:1200px ){
   .logo {
    color: white;
    font-size: 70px;
    line-height: 120px; /*estar a altura de 200px*/
    float:center;
    text-align:center;
    font-family: 'Pacifico';
    }
    .logo1 {
      color: #269982;
      font-size: 70px;
      line-height: 120px; /*estar a altura de 200px*/
      float:center;
      text-align:center;
      font-family: 'Pacifico';
    }
    
input::-webkit-input-placeholder {
  color:    #FF7F50;
  font-family: 'Pacifico';
  text-align: center;
  font-size: 20px;
}
 .background1 {
    border-radius: 70px 70px 70px 70px;
    -moz-border-radius: 70px 70px 70px 70px;
    -webkit-border-radius: 70px 70px 70px 70px ;
     background: linear-gradient(to left,#e35d5b, rgb(250, 157, 51));
    -webkit-box-shadow: 0px 0px 20px 20px #f58359;
    -moz-box-shadow: 0px 0px 20px 20px #f58359;
    box-shadow: 0px 0px 10px 10px #f58359; 
    box-sizing: border-box;
    width:370px;
    padding:30px;
    margin:auto;
    margin-top:20px;
    }
       .background2 {
              border-radius: 70px 70px 70px 70px;
              -moz-border-radius: 70px 70px 70px 70px;
              -webkit-border-radius: 70px 70px 70px 70px ;
              background: linear-gradient(to left,#82F3BE, rgb(250, 157, 51));
              box-sizing: border-box;
              width:380px;
              padding:40px;
              margin:auto;
              margin-top:20px;
              
            }
        .background3 {
              border-radius: 70px 70px 70px 70px;
              -moz-border-radius: 70px 70px 70px 70px;
              -webkit-border-radius: 70px 70px 70px 70px ;
              background: linear-gradient(to left,#f36f6d, #E9899C);
              box-sizing: border-box;
              width:380px;
              padding:35px;
              margin:auto;
              margin-top:20px;
            }
            
         .background4 {
              border-radius: 72px 72px 72px 72px;
              -moz-border-radius: 72px 72px 72px 72px;
              -webkit-border-radius: 72px 72px 72px 72px ;
              background: linear-gradient(to left,#f36f6d, #A989E9);
              box-sizing: border-box;
              width:380px;
              padding:40px;
              margin:auto;
              margin-top:20px;
            }

      .wrapper1{         /*para centrar el contenido*/
       width: 100%;
       max-width: 1000px;
      margin:auto;
      overflow:hidden;
      line-height: 40px;
      padding:30px 10px ;
      }
      .wrapper3{         /*para centrar el contenido*/
      width: 100%;
      max-width: 700px;
      text-align: center;
      margin:auto;
      text-align: center;
      overflow:hidden;
      line-height: 20px;
      float: center;
      }
        .wrapper4{         /*para centrar el contenido*/
              width: 30%;
              max-width: 350px;
              margin:auto;
              overflow:hidden;
              line-height: 40px;
              padding:8px;
            }
            .wrapper5{         /*para centrar el contenido*/
              width: 50%;
              max-width: 350px;
              text-align: center;
              margin:auto;
              overflow:hidden;
              line-height: 20px;
              float: right;
            }
            .wrapper6{         /*para centrar el contenido*/
              width: 50%;
              max-width: 350px;
              text-align: center;
              margin:auto;
              overflow:hidden;
              line-height: 20px;
              float: left;
            }
            
            .escoger {
              color: #FFDAB9;
              text-align: center;
              font-family: 'Itim', cursive;
              font-size: 25px; 
            }
            textarea::-webkit-input-placeholder {
              color:    #FF7F50;
              font-family: 'Pacifico';
              text-align: center;
              float:center;
              font-size: 20px;
            }
            .caja {
              background: #FFDAB9;
              border: 1px solid #FFDAB9;
              border-radius: 5px 5px 5px 5px;
              text-decoration-color: #FF7F50;
              font-size: 12px;
              line-height: center;
              padding: 11px;
              width: 120px;
            }
            .box {
              background: #FFDAB9;
              border: 1px solid #FFDAB9;
              border-radius: 5px 5px 5px 5px;
              text-decoration-color: #FF7F50;
              font-size: 12px;
              line-height: center;
              padding: 11px;
              width: 270px;
            }
            .title1{
              color: #FFDAB9;
              font-family: 'Itim', cursive;
              font-size: 40px; 
              text-align: center;
            }
    .title2 {
              color: #F36C1F;
              font-family: 'Itim', cursive;
              font-size: 40px; 
              text-align: center;
            }
            .title3{
              color:  #FFDAB9;
              font-family: 'Itim', cursive;
              font-size: 40px; 
              text-align: center;
            }
            .title4{
              color:  #FFDAB9;
              font-family: 'Itim', cursive;
              font-size: 25px; 
              text-align: center;
            }
            .title5 {
              color: #FFDAB9;
              font-family: 'Itim', cursive;
              font-size: 33px; 
              text-align: center;
            }
            .title6 {
              color: black;
              font-family: 'Itim', cursive;
              font-size: 35px; 
              text-align: center;
            }
    .wrapper2{         /*para centrar el contenido*/
      padding: 5px;
      text-align: center;
      margin:auto;
      overflow:hidden;
      float: center;
      box-sizing: border-box;
      margin-top: 10px;
      width: 250px;
            }
            footer {
              color: black;
              font-family: 'Pacifico';
              font-size: 25px; 
              text-align: center;
              width: 1000px;
            }
            .button {
              display: inline-block;
              text-align: center;
              vertical-align: middle;
              padding: 10px 20px;
              border: 0px solid #20B2AA;
              border-radius: 20px;
              background: #4ac6ff;
              background: -webkit-gradient(linear, left top, left bottom, from(#4ac6ff), to(#269982));
              background: -moz-linear-gradient(top, #4ac6ff, #269982);
              background: linear-gradient(to bottom, #4ac6ff, #269982);
              text-shadow: #591717 2px 1px 2px;
              font: normal normal bold 20px comic sans ms;
              color: #ffffff;
              text-decoration: none;
            }
            .button:hover,
            .button:focus {
              background: #59eeff;
              background: -webkit-gradient(linear, left top, left bottom, from(#59eeff), to(#2eb89c));
              background: -moz-linear-gradient(top, #59eeff, #2eb89c);
              background: linear-gradient(to bottom, #59eeff, #2eb89c);
              color: #ffffff;
              text-decoration: none;
            }
            .button:active {
              background: #2c7799;
              background: -webkit-gradient(linear, left top, left bottom, from(#2c7799), to(#269982));
              background: -moz-linear-gradient(top, #2c7799, #269982);
              background: linear-gradient(to bottom, #2c7799, #269982);
            }
            .body1{
              background-image:url("fondo2.png");
              background-repeat:no-repeat;
              background-attachment: fixed ;
              background-size:cover;
            }
            .body2{
              background-image:url("fondosmall3.png");
              background-repeat:no-repeat;
              background-attachment: fixed ;
              background-size:cover;
              }
          }

.hide{
  display: none;
}
.show{
  display: block;
}





