/* Acá van tus reglas de estilo */
*{margin: 0; padding: 0} /*quitar margenes que dan por defecto el navegador*/
header{
  width: 100%; /*anchura de elementos de bloque*/
  overflow: hidden; /* permite tener float*/
  background-image: url(fondo5.jpg)
      margin-bottom: 20px;
}
.wrapper{         /*para centrar el contenido*/
  width: 90%;
  max-width: 1000px;
  margin:auto;
  overflow:hidden;
}
.wrapper1{         /*para centrar el contenido*/
  width: 30%;
  max-width: 350px;
  margin:auto;
  overflow:hidden;
  line-height: 40px;
}
.wrapper2{         /*para centrar el contenido*/
  width: 30%;
  max-width: 350px;
  text-align: center;
  margin:auto;
  overflow:hidden;
  line-height: 20px;
  float: center;
}
.caja {
  background: #FFDAB9;
  border: 1px solid #FFDAB9;
  border-radius: 5px 5px 5px 5px;
  text-decoration-color: #FF7F50;
  font-size: 12px;
  padding: 7px;
}
.wrapper3{         /*para centrar el contenido*/
  width: 50%;
  max-width: 350px;
  text-align: center;
  margin:auto;
  text-align: center;
  overflow:hidden;
  line-height: 20px;
  float: center;
}


header .logo {
  color: white;
  font-size: 70px;
  line-height: 160px; /*estar a altura de 200px*/
  float:center;
  text-align:center;
  font-family: 'Pacifico';
}
.escoger {
  color: #FFDAB9;
  text-align: center;
  font-family:'Gochi Hand', cursive;
  font-size: 20px; 
}
.ocultar{
  display: none;
}
.mostrar{
  display: block;
}

  .contenido p{
    margin-bottom: 1em;
  }
@media screen and (max-width:950px){  /* para que se centre y se acomode bien en dispositivos mobiles o cuando reduzca*/
  header .logo,
  header nav {
    width: 100%;
    text-align: center;
    line-height:100px;
  }
}
.titulo1{
  color: #FFDAB9;
  font-family:'Gochi Hand', cursive;
  font-size: 30px; 
  text-align: center;
}
.titulo2 {
  color: #F36C1F;
  font-family:'Gochi Hand', cursive;
  font-size: 30px; 
  text-align: center;
}
.titulo3{
  color:  #FFDAB9;
  font-family:'Gochi Hand', cursive;
  font-size: 27px; 
  text-align: center;
}
.titulo4{
  color:  #FFDAB9;
   font-family: 'Carme', sans-serif;
  font-size: 20px; 
  text-align: center;
}
.titulo5 {
  color: #FFDAB9;
  font-family: 'Pacifico';
  font-size: 37px; 
  text-align: center;
}
.titulo6 {
  color: black;
  font-family:'Gochi Hand', cursive;
  font-size: 30px; 
  text-align: center;
}
input::-webkit-input-placeholder {
  color:    #FF7F50;
  font-family: 'Pacifico';
  text-align: center;
  font-size: 20px;
}
textarea::-webkit-input-placeholder {
  color:    #FF7F50;
  font-family: 'Pacifico';
  text-align: center;
  float:center;
  font-size: 20px;
}


.fondo1 {
  border-radius: 72px 72px 72px 72px;
  -moz-border-radius: 72px 72px 72px 72px;
  webkit-border-radius: 72px 72px 72px 72px ;
  background: linear-gradient(to left,#e35d5b, rgb(250, 157, 51));
  -webkit-box-shadow: 0px 0px 10px 10px #f58359;
  -moz-box-shadow: 0px 0px 10px 10px #f58359;
  box-shadow: 0px 0px 10px 10px #f58359; 
}

.fondo2 {
  border-radius: 72px 72px 72px 72px;
  -moz-border-radius: 72px 72px 72px 72px;
  webkit-border-radius: 72px 72px 72px 72px ;
  background: linear-gradient(to left,#82F3BE, rgb(250, 157, 51));
}

.fondo3 {
  border-radius: 72px 72px 72px 72px;
  -moz-border-radius: 72px 72px 72px 72px;
  webkit-border-radius: 72px 72px 72px 72px ;
  background: linear-gradient(to left,#f36f6d, #E9899C);
}

.fondo4 {
  border-radius: 72px 72px 72px 72px;
  -moz-border-radius: 72px 72px 72px 72px;
  webkit-border-radius: 72px 72px 72px 72px ;
  background: linear-gradient(to left,#f36f6d, #A989E9);
}
.fondo5 {
  border-radius: 72px 72px 72px 72px;
  -moz-border-radius: 72px 72px 72px 72px;
  webkit-border-radius: 72px 72px 72px 72px ;
  background: linear-gradient(to left,#f36f6d, #A989E9);
}

.opciones{
  border-radius:60px 60px 60px 60px;
  -moz-border-radius:60px 60px 60px 60px;
  webkit-border-radius:60px 60px 60px 60px;
  border: 3px solid #20B2AA;
}

.opciones1{
  padding: 3px 10px;
  border: PowderBlue 5px dashed;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
h3{
	color: #FF7F50;
font-family:'Gochi Hand', cursive;
  font-size: 30px;
  text-align: center;
}
.preg {
  color: black;
  font-family: font-family: 'Carme', sans-serif;
  font-size: 30px; 
}
h2{
	color: black;
font-family: font-family: 'Carme', sans-serif;
  font-size: 40px;
}
/*input[type=text] {
    background-color: #3CBC8D;
    color: white;
    border-radius:60px 60px 60px 60px;
    -moz-border-radius:60px 60px 60px 60px;
    webkit-border-radius:60px 60px 60px 60px;

  }
  @import 'https://fonts.googleapis.com/css?family=Rubik+One';

body, html { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%; 
  background: #20B2AA;
  background: linear-gradient(to left, rgb(50, 50, 240) , #e35d5b);
}*/
.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 9px 20px;
  border: 0px solid #20B2AA;
  border-radius: 60px;
  background: #4ac6ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#4ac6ff), to(#269982));
  background: -moz-linear-gradient(top, #4ac6ff, #269982);
  background: linear-gradient(to bottom, #4ac6ff, #269982);
  text-shadow: #591717 2px 1px 2px;
  font: normal normal bold 17px comic sans ms;
  color: #ffffff;
  text-decoration: none;
}
.button:hover,
.button:focus {
  background: #59eeff;
  background: -webkit-gradient(linear, left top, left bottom, from(#59eeff), to(#2eb89c));
  background: -moz-linear-gradient(top, #59eeff, #2eb89c);
  background: linear-gradient(to bottom, #59eeff, #2eb89c);
  color: #ffffff;
  text-decoration: none;
}
.button:active {
  background: #2c7799;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c7799), to(#269982));
  background: -moz-linear-gradient(top, #2c7799, #269982);
  background: linear-gradient(to bottom, #2c7799, #269982);
}



